html,body{
    margin: 0;
    padding: 0;
   
}

.mescartes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}